nav .btn {
  color: black;
  border-color: black;
}

.navbar-brand img {
  /* width: 4rem; */
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: darken;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#hoby {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}
